header {
    background-image: url(./img/pattern.png);
    background-color: cornflowerblue;
    background-size: 370px;


}

#The-Booleaner {
    width: 240px;
    text-align: left;
    padding-top: 30px;
}


#autore {
    color: grey;
}

#data-pubblicazione {
    font-size: 10px
}

.photo {

    font-size: 12px;

}

#data-pubblicazione {
    color: grey;

}