header {
    background-image: url(./img/pattern.png);
    background-color: cornflowerblue;
    background-size: 370px;


}

#The-Booleaner {
    width: 240px;
    text-align: left;
    padding-top: 30px;
    margin-left: 185px;
}

.container {
    padding-left: 190px;
    padding-right: 190px;
}